.btn {
    margin: 30px;
}
.btn a {
    text-decoration: none;
    color: black;
    width: 70px;
    height: 20px;
   box-shadow: 3px 5px 3px 0px rgb(231, 231, 231);
    padding: 10px;
}
.btn a:hover {
    cursor: pointer;
    transition: .5s;
    box-shadow: -3px -5px 3px 0px rgb(231, 231, 231);
}
.btn a:not(:hover) {
    transition: .5s;
    box-shadow: 3px 5px 3px 0px rgb(231, 231, 231);
}
